* {

    box-sizing: border-box;
}


:root {
    --primary-color: #FA7268;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var( rgb(159, 159, 231));
    background-image: url('stacked-steps-haikei.png');
    background-size: cover;
    animation: rotate 10s infinite alternate linear, moveBackground 20s infinite linear;
    position: relative;
}

@keyframes rotate {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.login-card {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    color: white;
}

.login-card h2, .login-card p {
    margin: 0 0 20px;
    color: white;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
}

.login-form > :is(input, button){
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 10px;
}

.login-form > input {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-family: inherit;
    font-size: 16px;
}

.login-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-form > button {
    cursor: pointer;
    background:#FA7268;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}

.login-form button:hover {
    background: #B0235F;
}

.login-form > a {
    color: #1b0b0a;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    margin-bottom: 15px;
}

@media (min-width: 428px) {
    .login-card {
        width: 90%;
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
    }
}

@media (min-width: 628px) {
    body {
        justify-content: flex-start;
    }

    .login-card {
        height: 100%;
        width: 40%;
        max-width: none;
        border-radius: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}